Package: com.ps.trollleds
Name: TrollLEDs
Version: 1.0.0
Depends: firmware (>= 11.0), gsc.camera-flash
Architecture: iphoneos-arm
Description: Control flashlight LEDs with eases.
Maintainer: PoomSmart
Author: PoomSmart
Section: Utilities
Depiction: https://poomsmart.github.io/repo/depictions/trollleds.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/trollleds.json
