<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>com.ps.TrollLEDs</string>
    <key>com.apple.camera.iokit-user-access</key>
    <true/>
    <key>com.apple.system.diagnostics.iokit-properties</key>
    <true/>
    <key>com.apple.security.exception.iokit-user-client-class</key>
    <array>
        <string>AGXDeviceUserClient</string>
        <string>AppleH6CamInUserClient</string>
        <string>AppleH9CamInUserClient</string>
        <string>AppleH10CamInUserClient</string>
        <string>AppleH13CamInUserClient</string>
        <string>IOSurfaceRootUserClient</string>
    </array>
    <key>com.apple.security.exception.mach-lookup.global-name</key>
    <array>
        <string>com.apple.appleh6camerad</string>
        <string>com.apple.appleh9camerad</string>
        <string>com.apple.appleh10camerad</string>
        <string>com.apple.appleh13camerad</string>
    </array>
</dict>
</plist>